.explanation{
    font-size:15px;
}

.map{
    position:relative;
    width:370px;
}

.world{
    width:370px;
}

#pin{
    position:absolute;
    width:10px;
    top:0px;
    left:0px;
}

.next_button{
    margin-top: 10px;
    margin-left: 300px;
}

.choice {
    width: 40px;
    height: 40px;
    margin: 5px;
    cursor: pointer;
    border: 1px solid black;
    font-size: 15px;
    color:black;
    position:relative;
}

.answer_button{
    margin-left: 30px;
}

