.explanation{
    font-size:15px;
}

#status{
    text-align:right;
    margin-top:-40px;
}

.map{
    position:relative;
    width:370px;
}

.world{
    width:370px;
}

#pin{
    position:absolute;
    width:10px;
    top:0px;
    left:0px;
}

.next_button{
    margin-top: 10px;
    text-align:right;
}

.choice {
    width: 40px;
    height: 40px;
    margin: 5px;
    cursor: pointer;
    border: 1px solid black;
    font-size: 15px;
    color:black;
    text-align:center;
    padding:3px;
}

.answer_button{
    margin-left: 30px;
}

table{
    width:370px;
}

table th,td{
    padding:5px 2px;
}


.rowA{
    background-color:#ffe6e6;
    border:solid 2px #ef534f;
}

.rowB{
    background-color:#fdf5e0;
    border:solid 2px #fcd471;
}